# Base de datos (Clever Cloud)
DATABASE_URL=postgresql://usuario:password@host:puerto/nombre_bd

# JWT
JWT_SECRET=tu_secret_aqui
JWT_EXPIRATION=8h

# Servidor
PORT=3000
FRONTEND_URL=http://localhost:4200

# Seguridad
BCRYPT_ROUNDS=12

# Empresa
COMPANY_NIT=900000000-0